@charset "UTF-8";
.header {
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid #000;
}
.header_contents {
  width: 980px;
  margin: 0 auto;
  border: 1px solid #000;
}
.logo {
  width: 200px;
  font-size: auto;
  display: flex;
  align-items: center;
  border: 1px solid #000;
}
.logo img {
  /* width: 50px; */
  height: 100px;
  margin-right: 10px;
}
.contents {
  width: 980px;
  margin: 0 auto;
}
.visual {
  background: url(https://picsum.photos/id/0/1920/1080)
    no-repeat center center;
  display: flex;
  align-items: center;
}
.copy {
  width: 320px;
  height: 250px;
  margin-left: 700px;
  color: aliceblue;
  font: normal 32px/2em sans-serif;
  align-items: center;
  display: flex;
}
.text_contents {
  height: 200px;
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
}
.text {
  width: 380px;
  border: 1px solid #000;
}
.menu {
  width: 380px;
  border: 1px solid #000;
}
.footer {
  height: 120px;
  margin-top: 30px;
  border: 1px solid #000;
}
.footer_contents {
  width: 980px;
}
