@charset "UTF-8";

/******************************
 header
******************************/
.header {
	background-color: #C8FFF4;
}
.header__wrap {
	
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__wrap {
    width: 100%;
		flex-direction: column;
  }
}
.header__logo img {
  width: 54px;
  /* height: 76px; */
}
.header__menu {
  display: flex;
	list-style: none;
}

.header__menu li {
  width: 100px;
}
.header__menu li a {
  display: block;
	width: 100%;
	align-items: center;
}
/**********************************
 main
**********************************/
.main {
}
.main__kv {
	background: url(./img/cat_sofa.jpg) no-repeat center center;
  height: 70vh;
}
.main__about {
  width: 85%;
  margin: 20px auto;
}
.main__about--ttl {
  text-align: center;
  margin-bottom: 60px;
}
.main__about--logo {
  width: 40%;
  margin: 0 auto;
}
.main__about--txt {
  margin: 45px 0 60px;
  text-align: center;
}

.main__service {
  width: 85%;
  margin: 20px auto;
}
.main__service--message {
}

.main__service--list {
	list-style: none;
  display: flex;
}
@media screen and (max-width: 768px){
	.main__service--list {
	list-style: none;
	flex-direction: column;
}
}
.main__service--list li {
  flex: 1;
}
.main__service--list li a {
  display: block;
  height: 100%;
}
.main__service--list li img {
  width: 100%;
}
.main__service--list li h3 {
  margin: 50px 0 30px 0;
}
.main__service--list li p {
}
.main__news {
  width: 85%;
  margin: 20px auto;
  padding: 0 20px 0;
}
.main__news--ttl {
}
.main__news--list {
	list-style: none;
}
.main__news--list li {
}
.main__news--list li a {
  display: block;
}
.main__news--item {
  display: flex;
}
.main__news--day {
  display: flex;
  align-items: center;
}
.main__news--data {
}

/**********************************
 footer
**********************************/
.footer {
  padding: 90px 0 70px;
}

.footer__logo {
  width: 100px;
  margin: 0 auto;
}
.footer__copy {
  margin-top: 30px;
  text-align: center;
}
